#---------------------------------------------------------------------
# See:  http://haproxy.1wt.eu/download/1.5/doc/configuration.txt
#---------------------------------------------------------------------
global
    log         /dev/log local2
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon
    tune.ssl.default-dh-param 2048

defaults
    mode        http
    log         global
    option      dontlognull
    option      httpclose
    option      httplog
    option      forwardfor
    option      redispatch
    timeout connect 10000 # default 10 second time out if a backend is not found
    timeout client 300000
    timeout server 300000
    maxconn     60000
    retries     3

frontend  main-http
    mode        tcp
    bind        :80
    reqadd X-Forwarded-Proto:\ http
    default_backend     jon

frontend  main-https
    mode        tcp
    bind        :443 ssl crt /etc/haproxy/sslkeys/marlo.com.au.local.pem
    reqadd X-Forwarded-Proto:\ https
    default_backend     jon

backend jon
    mode        tcp
    balance     roundrobin
    server      jon   192.168.20.55:7080 check ssl verify none

listen  stats   *:5500
        mode            http
        log             global
        maxconn 10
        clitimeout      100s
        timeout queue   100s

        stats enable
        stats hide-version
        stats refresh 30s
        stats show-node
        stats auth haproxy:haproxy
        stats uri  /haproxy